<nav class="bg-gray-800 p-4">
    <ul class="flex gap-6 text-white">
        <li><a href="/admin/dashboard" class="hover:text-indigo-400 transition duration-300">Dashboard</a></li>
        <li><a href="/admin/events" class="hover:text-indigo-400 transition duration-300">Admin Events</a></li>
        <li><a href="/admin/event_selection" class="hover:text-indigo-400 transition duration-300">Admin Events Selection</a></li>

         <li><a href="/admin/logout" class="hover:text-indigo-400 transition duration-300">Logout</a></li>
    </ul>
</nav>
<hr class="border-gray-300">
